@media only screen and (max-width: 600px) { 

}

/*Iniciar sesión*/

.login{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.img-tit-login{
    margin-top: 135px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-login.img{
    width: 90px;
    height: 100px;
}

.carevet-login{
    font-size: 50px;
    color: rgb(10, 94, 92);
}

.form-regist-login{
    left: 0%;
    margin-top: 96px;
}

.form-login.h2{
    font-size: 30px;
    color: rgb(63, 68, 68);
}

label{
    font-size: 15px;
    color: rgb(63, 68, 68);
}

input{
 width: 400px;
 height: 33px   ;
 border: 1px solid rgb(63, 68, 68);
 border-radius: 12px;
}

.btn-iniciar-session{
    background-color: rgb(3, 166, 93);
    width: 400px;
    height: 66px;
    border: 1px solid  rgb(3, 166, 93);
    border-radius: 12px;
    margin-top: 34px;
    font-size: 25px;
    color: white;
}

.olvidar-contraseña{
    color: rgb(58, 180, 233);
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
}

.registrarse-login{
    margin-top: 25px;
    text-align: center;
}

.btn-registrarse-login{
    background-color: rgb(10, 94, 92);
    width: 256px;
    height: 66px;
    border: 1px solid  rgb(10, 94, 92);
    border-radius: 12px;
    font-size: 25px;
    color: white;
}

/*Registrarse*/

.registrarse{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.especializacion{
    color: rgb(63, 68, 68);
}

/*-----------------------------------------REVISAR------------------------------------------------*/

.especializacion-registrarse{
    text-align: left;
    margin-left: 0%;
    font-size: 14px;
    border: 1px solid  rgb(217, 255, 5);
}

.bases-condiciones{
    font-size: 16px;
    color: rgb(63, 68, 68);
}

/*-----------------------------------------------------------------------------------------------*/

/*Inicio*/

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(244, 245, 245);
}

.logo-buscador-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*perfil publicaciones*/

.perfil-portada{
    position: absolute;
    width: 903px;
    height: 386px;
    left: 265px;
    top: 87px;

    border-radius: 12px;
}

.portada{
    position: absolute;
    width: 900px;
    height: 277px;
    left: 2px;
    top: -13px;
}

.foto{
    position: absolute;
    left: 6.76%;
    right: 76.63%;
    top: 52.33%;
    bottom: 8.81%;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 47px;
}

.perfil{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    border-radius: 100px;
}

.nombre{
    position: absolute;
    width: 202px;
    height: 29px;
    left: 277px;
    top: 310px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.seguidos{
    position: absolute;
    width: 82px;
    height: 29px;
    left: 277px;
    top: 340px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.seguidores{
    position: absolute;
    width: 120px;
    height: 29px;
    left: 372px;
    top: 340px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.pub-mg-fotos{
    position: absolute;
    width: 462px;
    height: 33.75px;
    left: 255px;
    top: -50px;
}

.pub{
    position: absolute;
    width: 193px;
    height: 28px;
    left: 255px;
    top: 542px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.mg{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 504px;
    top: 542px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;

}

.fotos{
    position: absolute;
    width: 61px;
    height: 28px;
    left: 656px;
    top: 542px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.publicacion1{
    position: absolute;
    width: 706px;
    height: 693px;
    left: 175px;
    top: 596px;

    background: #F4F5F5;
    border-radius: 12px;
}

.barra{
    position: absolute;
    width: 661px;
    height: 50px;
    left: 20px;
    top: 10px;
}

.foto-pub{
    position: absolute;
    left: 19.65%;
    right: 76.88%;
    top: 25.78%;
    bottom: 72.1%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 47px;
}

.foto-p{
    position: absolute;
    width: 50px;
    height: 50px;
    left: -120px;
    top: 0px;

    border-radius: 100px;
}

.nombre-pub{
    position: absolute;
    width: 146px;
    height: 21px;
    left: 89px;
    top: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.fecha-pub{
    position: absolute;
    width: 79px;
    height: 21px;
    left: 89px;
    top: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.img-pub{
    position: absolute;
width: 704px;
height: 435px;
left: 2px;
top: 90px;
}

.barra2{
    position: absolute;
    width: 656.27px;
    height: 160px;
    left: -300px;
    top: -580px;
}

.icono-mg{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 365px;
    top: 1177px;
}

.icono-coment{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 548px;
    top: 1177px;
}

.icono-comp{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 735px;
    top: 1177px;
}

.like{
    position: absolute;
    width: 75px;
    height: 21px;
    left: 399px;
    top: 1184px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.coment{
    position: absolute;
    width: 80px;
    height: 21px;
    left: 582px;
    top: 1184px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.comp{
    position: absolute;
    width: 81px;
    height: 21px;
    left: 769px;
    top: 1184px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.foto.coment{
    position: absolute;
    left: 769px;
    right: 76.88%;
    top: 52.28%;
    bottom: 45.6%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 47px;
}

.foto-com{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 320px;
    top: 1210px;
    border-radius: 100px;
}

#comentario{
    position: absolute;
    width: 568.6px;
    height: 41.71px;
    left: 380px;
    top: 1214px;
}

.publicacion2{
    position: absolute;
    width: 706px;
    height: 693px;
    left: 175px;
    top: 1299px;

    background: #F4F5F5;
    border-radius: 12px;
}

.sugerencias{
    position: absolute;
    width: 316.98px;
    height: 246.7px;
    left: 896px;
    top: 596px;

    background: #F4F5F5;
    border-radius: 12px;
    transform: rotate(0.42deg);
}

.sugerencias h3{
    position: absolute;
    width: 133px;
    height: 28px;
    left: 20px;
    top: 6px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #3F4444;
}

.sugerencias p{
    position: relative;
    width: 182px;
    height: 47px;
    left: 10px;
    top: 26px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    
    color: #3F4444;
    
}