@media only screen and (max-width: 600px) { 

}

.ocultar {
    opacity: 0;
 }
  
.desocultar {
    opacity: 1;
}

/*Iniciar sesión*/

.login{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.img-tit-login{
    margin-top: 135px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-login.img{
    width: 90px;
    height: 100px;
}

#logo-login-{
    animation: girarLogo-login 3s forwards;
}

@keyframes girarLogo-login{
    0%{
        opacity: 0;
        width: 10%;
        height: 10%;
        transform: translate(50px, 0);
    }
    60%{
        opacity: .8;
    }
    100%{
        opacity: 1;
        width: 190px;
        height: 200px;
        transform: translate(0px, 0);
    }
}


.carevet-login{
    font-size: 50px;
    color: rgb(10, 94, 92);
    font-family: Roboto;
}

.form-regist-login{
    left: 0%;
    margin-top: 96px;
}

.titulo-login{
    font-size: 30px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
}

label{
    font-size: 15px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
}

input{
 width: 400px;
 height: 33px   ;
 border: 1px solid rgb(63, 68, 68);
 border-radius: 12px;
}

.btn-iniciar-session{
    background-color: rgb(3, 166, 93);
    width: 400px;
    height: 66px;
    border: 1px solid  rgb(3, 166, 93);
    border-radius: 12px;
    margin-top: 34px;
    font-size: 25px;
    color: white;    
    font-family: Roboto;
}

.cargarPag{
    width: 1024;
    height: 368;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.oculto{
    display: none;
}

.cargar{
    width: 70px;
    height:66px;
    background: url(../img/loading.png) left center no-repeat; 
    animation: cargando 5s steps(12) infinite;  
    z-index: 9999;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 325px;
}

@keyframes cargando {
    0% {background-position: 0;}
    100% {background-position: -819px;}
}

.cargando{
    margin-top: 325px;
    margin-right: 250px;
    color: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 20px;
}

.olvidar-contraseña{
    color: rgb(58, 180, 233);
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-family: Roboto;
}

.registrarse-login{
    margin-top: 25px;
    text-align: center;
}

.btn-registrarse-login{
    background-color: rgb(10, 94, 92);
    width: 256px;
    height: 66px;
    border: 1px solid  rgb(10, 94, 92);
    border-radius: 12px;
    font-size: 25px;
    color: white;
    font-family: Roboto;
}

/*Registrarse*/

.registrarse{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/*-----------------------------------------REVISAR------------------------------------------------*/

.especializacion-registrarse{
    text-align: left;
    margin-left: 0%;
    font-size: 14px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
}

.bases-condiciones{
    font-size: 16px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
}
/*-----------------------------------------------------------------------------------------------*/

/*Nav*/

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(244, 245, 245);
}

.logo-buscador-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.buscador{
    margin-left: 10px;
    height: 33px;
}

.ini-chat-perfil{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.logo-ini-linea{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#logo-ini{
    margin-top:3px;
}

.parallax-ini{
    animation: girarLogo 3s forwards;
}

@keyframes girarLogo{
    0%{
        opacity: 0;
        transform: rotate(0deg);
        width: 10px;
        height: 10px;
    }
    60%{
        width: 30px;
        height: 30px;
    }
    100%{
        opacity: 1;
        transform: rotate(360deg);
        width: 37px;
        height: 37px;
    }
}

.linea-ini{
    margin-bottom: -18px;
    margin-top: -10px;
}

.logo-chat{
    display: flex;
    flex-direction: column; 
    margin-right: 20px; 
}

.parallax-chat{
    animation: girarLogo 3s forwards;
}


.logo-perfil-linea{
    display: flex;
    flex-direction: column;
}

.parallax-perfil{
    animation: girarLogo 3s forwards; 
}

#logo-chat{
    margin-top:3px;
}

#logo-perfil-selec{
    border-radius: 60px;
    margin-top: 5px;
}

#logo-perfil{
    border-radius: 60px;
    margin-top: 3   px;
}

.linea-perfil{
    margin-bottom: -13px;
    margin-top: -10px;
}

.logo-chat-linea{
    display: flex;
    flex-direction: column;
}

.desplegable{
    position: absolute;
    display: flex;
    width: 169px;
    height: 97px;
    left: 1160px;
    background:rgb(244, 245, 245);
}

.menuDeBusquedas{
    display: flex;
    flex-direction: column;
}

.perfil{
    position: absolute;
	height: 34px;
	width: 150px;
	right: 0%;
	top: 0%;
}

.ver-perfil{
    position: absolute;
	height: 20px;
	width: 100px;
	left: 28%;
	top: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: rgba(63, 68, 68, 0.69);
}

.ver-perfil:hover{
    color: rgb(3, 166, 93);
}

.salir{
    position: absolute;
	height: 35px;
	width: 150px;
	right: 11%;
	top: -109%;
}

.cerrarSesion{
    position: absolute;
    width: 148px;
    height: 39px;
    left: 21px;
    top: 147px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    
    color: rgba(63, 68, 68, 0.69);
    
}

.cerrarSesion:hover{
    color: rgb(3, 166, 93);
}

.oculto {
	opacity: 0;
	z-index: -2;
  }
  
  .desocultar {
	opacity: 1;
	z-index: 2;
  }

  .menuDeBusqueda{
    position: absolute;
    width: 535px;
    height: 100px;
    left:290px;
    top: 70px;
    /* background-color:#e8e2cd; */
    background-color: #ffffff;
    z-index: 1;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
		  0 0  0 2px rgb(255,255,255),
		  0.3em 0.3em 1em rgba(0,0,0,0.3);

  }

/*Inicio*/

.inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.datos-cuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24px;
    margin-top: 10px;
    background-color: rgb(244, 245, 245);
    font-family: Roboto;
    color: rgb(63, 68, 68);
    border-radius: 12px;
    position: relative;
}

.publicidad{
    position: relative;
    display: flex;
    align-items: center;
    width: 316px;
    height: 348px;
    left: 23px;
    top: 11px;
}

.nombre-inicio{
    font-size: 30px; 
    font-family: Roboto;
    color: rgb(63, 68, 68);   
}

.profesion-inicio{
    font-size: 24px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
}

.crear-publicacion{
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 245, 245);
    margin-top: 10px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
    border-radius: 12px;
    position: relative;
    left: 20px;
}

.cartel-salir{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto;
    color: rgb(63, 68, 68);
}

.btn-salir{
    padding: 5px;
}

.lineaPublicar{
    text-align: center;
}

.cartel-crearPublicacion{
    margin-left: 35%;
}

.btn-crear-public{
    background-color: rgb(3, 166, 93);
    width: 80%;
    height: 40px;
    border: 1px solid  rgb(3, 166, 93);
    border-radius: 12px;
    margin-top: 17px;
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
    margin-left: 10%;
}

.img-video-subir{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contactos-inicio{
    display: flex;
    position: relative;
    background-color: rgb(244, 245, 245);
    margin-top: 320px;
    left: -134px;
    height: 427px;
    width: 246px;
    padding: 10px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
    border-radius: 12px;
    flex-wrap: wrap;
}

.sugerencias-inicio{
    display: flex;
    position: relative;
    background-color: rgb(244, 245, 245);
    margin-top: 10px;
    left: 36px;
    height: 224px;
    width: 246px;
    padding: 10px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
    border-radius: 12px;
    flex-wrap: wrap;
}

.publicacion{
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 245, 245);
    margin-top: 10px;
    width: 700px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
    border-radius: 12px;
    position: relative;
    left: 20px;
}

.fotoPerfil-nombre-fecha-publicacion{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 10px;
}

.fotoPerfil-publicacion{
    align-items: center;
}

.nombre-fecha-publicacion{
    display: flex;
    flex-direction: column;
    margin-left: 5px    ;
}

.nombre-publicacion{
    font-size: 18px;
    margin-bottom: -25px;
}

.fecha-publicacion{
    font-size: 16px;
}

.fotosPublicadas-inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoMgSelec-cantMg-cantComent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.lineaMgComenComp{
    margin-top: 5px;
    text-align: center;
}

.mg-coment-compar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    margin-left: 15%;
}

.meGusta:hover{
    color: rgb(50, 93, 246);
}

.meGustaSelec{
    color: rgb(50, 93, 246);
}

.fotoPerfil-comentarPublicacion, .fotoPerfil-crearPublicacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.inputComentar{
    margin-top: 10px;
}

#inputComentar{
    width: 569px;
}

.sugerencias{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(244, 245, 245);
    margin-top: 540px;
    left: 927px;
    margin-right: 24px;
    height: 224px;
    width: 246px;
    padding: 10px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
    border-radius: 12px;
}

.sugerencias.titulo, .contactos-titulo{
    font-size: 23px;
    font-family: Roboto;
}

.datos-btnSeguir-sugerencias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.datosSuegerencia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nombre-sugerencia{
    font-size: 18px;
}

.especialidad-sugerencia{
    font-size: 13px;
}

.especialidad-seg-div{
    margin-top: -11px;
}

.btnSeguir-suger{
    border-radius: 47px;
    border: solid rgb(3, 166, 93);
    background-color: rgb(3, 166, 93);
    color: white;
    margin-left: 5px;
}

.contactos{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(244, 245, 245);
    margin-top: 20px;
    left: 927px;
    margin-right: 24px;
    height: 427px;
    width: 246px;
    padding: 10px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
    border-radius: 12px;
}

.fotoPerfil-nombre-videollamada-llamada{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-right: 5px;
}

.videollamada-llamada-contacto{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/*perfil publicaciones*/

.perfil-portada{
    position: absolute;
    width: 903px;
    height: 386px;
    left: 265px;
    top: 87px;

    border-radius: 12px;
}

.portada{
    position: absolute;
    width: 900px;
    height: 277px;
    left: 2px;
    top: -13px;
}

.foto{
    position: absolute;
    left: 6.76%;
    right: 76.63%;
    top: 52.33%;
    bottom: 8.81%;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 47px;
}

.perfil{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    border-radius: 100px;
}

.nombre{
    position: absolute;
    width: 202px;
    height: 29px;
    left: 277px;
    top: 310px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.seguidos{
    position: absolute;
    width: 82px;
    height: 29px;
    left: 277px;
    top: 340px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.seguidores{
    position: absolute;
    width: 120px;
    height: 29px;
    left: 372px;
    top: 340px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.pub-mg-fotos{
    position: absolute;
    width: 462px;
    height: 33.75px;
    left: 255px;
    top: -50px;
}

.pub{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 193px;
    height: 28px;
    left: 255px;
    top: 542px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.mg{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100px;
    height: 28px;
    left: 504px;
    top: 542px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;

}

.fotos{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 61px;
    height: 28px;
    left: 656px;
    top: 542px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.publicacion1{
    position: absolute;
    width: 706px;
    height: 731px;
    left: 199px;
    top: 596px;

    background: #F4F5F5;
    border-radius: 12px;
}

.barra{
    position: absolute;
    width: 661px;
    height: 50px;
    left: 20px;
    top: 10px;
}

.foto-pub{
    position: absolute;
    left: 19.65%;
    right: 76.88%;
    top: 25.78%;
    bottom: 72.1%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 47px;
}

.foto-p{
    position: absolute;
    width: 50px;
    height: 50px;
    left: -120px;
    top: 0px;

    border-radius: 100px;
}

.nombre-pub{
    position: absolute;
    width: 146px;
    height: 21px;
    left: 89px;
    top: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.fecha-pub{
    position: absolute;
    width: 79px;
    height: 21px;
    left: 89px;
    top: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.img-pub{
    position: absolute;
width: 704px;
height: 435px;
left: 2px;
top: 90px;
}

.barra2{
    position: absolute;
    width: 656.27px;
    height: 160px;
    left: 25px;
    top: 561px;
}


.publicacion2{
    position: absolute;
    width: 706px;
    height: 731px;
    left: 199px;
    top: 1344px;

    background: #F4F5F5;
    border-radius: 12px;
}

.publicacion3{
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 245, 245);
    margin-top: 510px;
    width: 700px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
    border-radius: 12px;
    position: relative;
    left: 200px;
}

.sugerencias-mg{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(244, 245, 245);
    margin-top: -690px;
    left: 927px;
    margin-right: 24px;
    height: 224px;
    width: 246px;
    padding: 10px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
    border-radius: 12px;
}

.contactos-mg{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(244, 245, 245);
    margin-top: 20px;
    left: 927px;
    margin-right: 24px;
    height: 427px;
    width: 246px;
    padding: 10px;
    font-family: Roboto;
    color: rgb(63, 68, 68);
    border-radius: 12px;
}


/*Perfil-fotos*/

.seccion-fotos{
    position: absolute;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px 200px;
    margin-left: 14%;
    margin-top: 500px;
    margin-bottom: 20px;
    width: 1050px;
    height: 850px;
    background-color: rgb(10, 94, 92);
    border-radius: 12px;
}

.fotosPerfil-fotos{
    padding: 10px;
    margin-right: 10px;
}

.fotoPerfil-fotos1{
    border: solid 1px rgb(63, 68, 68);
    margin-left: 10px;
    border-radius: 12px;
}

/*Mensajes*/

.seccion-mensajes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chat{
    display: flex;
    flex-direction: row;
    background-color: rgb(244, 245, 245);
    margin-top: 10px;
    margin-left: 220px;
    height: 500px;
    width: 800px;
}

.buscador-mensajes{
    width: 310px;
}

.lista-chat{
    display: flex;
    flex-direction: column;
    width: 310px;
}

.titulo-msj{
    text-align: center; 
    color: rgb(63, 68, 68)
}

.mensaje-chat{
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
}
.chat-selec{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.buscar-chat{
    margin-bottom: 5px;
}

.chat-selec:hover{
    display: flex;
    flex-direction: row;
    background-color: rgb(147, 155, 155);
}

.datos-chat{
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px rgb(63, 68, 68);
    
}

.datos-contacto-chat{
    display: flex;
    flex-direction: row;;
    justify-content: flex-start;
}

.nombre-chat-abierto{
    font-size: 18px;
    margin-top: 10px;
    justify-content: flex-start;
}

.opciones-llamada-chat-abierto{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 195px;
    margin-top: 10px;
}

.llamada-contacto{
    margin-left: 15px;  
}

.conversacion-chat{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 180px;
}

.conver-der{
    width: 50;
    background-color: rgb(10, 94, 92);
    border-radius: 12px;
    margin-left: 150px;     
}

.conver-izq{
    width: 200px;
    background-color: rgb(3, 166, 93); 
    border-radius: 12px; 
    margin-top: 5px;
    margin-bottom: 5px;
}

.msj-chat{
    color: white;
    padding: 5px;
}

.msj-chat-der{
    color: white;
    padding: 5px;
}
.conver-visto{
    position: absolute;
    color: red;
    margin-left: 320px;
}

.emogi-escribir-enviar{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

#emogi:hover, #llamada-contacto:hover, #videollamada-contacto:hover{
    background-color: rgb(147, 155, 155);
}

.escribir{
    margin-left: 15px;
    margin-right: 15px;
}

.videollamada{
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 196, 196);
    width: 1240px;
    height: 510px;
    margin-top: 20px;
    margin-left: 60px;
}

.nombre-persona-videollamada{
    color: rgb(63, 68, 68);
    font-size: 24px;
    margin-left: 30px;
}

.integrantes-videollamada{
    display: flex;
    flex-direction: column;
}   

.img-persona1-videollamada{
    margin-left: 450px;
    margin-top: 50px;
}

.img-persona2-videollamada{
    width: 270px;
    margin-left: 950px;
    margin-top: -140px;
    background-color: rgb(63, 68, 68);  
    padding: 20px;
}

.mic-cam-finllama{
    margin-top: 80px;
    margin-left: 410px;
}

.logos-lladamada-propio{
    margin-top: -55px;
    margin-left: 1110px;
}