/*------------------------------index------------------------*/
body{
    background-color: rgb(207, 162, 37);

}

#canvas_tablero{
    margin-top: 10px;
    margin-left: 20px;
    background-color: rgb(189, 186, 186);
}

p{
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn{
    background-color: #e7e7e7; color: black;
}

#select{
    text-align: center;
    color: black;
}
.inicio_juego{
    margin-top: 90px;
    background-color:  rgba(65, 62, 62, 0.733);
    text-align: center;
    padding-top: 60px;
}

img{
    margin-top: 50px;
    margin-left: 10px;
}