html {
  background-color: rgb(251 221 181);
  margin: 0%;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
}

/*----------animacion del cielo-----------*/
#fondo {
  background: url("../img/fondo.png") left bottom;
  animation: moverFondo 30s linear infinite;
  background-repeat: repeat-x;
  position: absolute;
  width: 100%;
  background-color: rgb(251 221 181);
}

@keyframes moverFondo {
  100% {
    background-position-x: -2550px;
  }
}

/*----------animacion de las plantas, van un poco mas rapido que el cielo-----------*/
#planta {
  width: 100%;
  height: 200px;
  background: url("../img/plantas.png") left bottom;
  margin-top: 315px;
  background-repeat: repeat-x;
  animation: moverPlanta 25s linear infinite;
  position: relative;
  bottom: -20px;
}

@keyframes moverPlanta {
  100% {
    background-position-x: -2550px;
  }
}

/*-----------animacion del suelo------------*/
#suelo {
  width: 100%;
  height: 95%;
  background: url("../img/suelo.png") left bottom;
  background-repeat: repeat-x;
  animation: moverSuelo 20s linear infinite;
  position: absolute;
  bottom: -1px;
}

@keyframes moverSuelo {
  100% {
    background-position-x: -2540px;
  }
}

.stopAnimaciones{
  animation-play-state: paused;
}

/*-----------moneda------------*/

#moneda {
  width: 78px;
  height: 86px;
  right: 0%;
  margin-top: 23%;
  margin-left: 50%;
  bottom: 50%;
  position: absolute;
  background: url(../img/moneda.png) left center;
  animation: moverMoneda 6s steps(6) infinite;
}

@keyframes moverMoneda {
  0%{right: 0% }
  10%{right: 10% }
  20%{right: 20% }
  30%{right: 30% }
  40%{right: 40% }
  50%{right: 50% }
  60%{right: 60% }
  70%{right: 70% }
  80%{right: 80% }
  90%{right: 90% }
  100%{right: 100%;background-position: -470px; }
}

/*--------------animacion de tuberia-------------*/
#tuberia {
  width: 61px;
  height: 64px;
  bottom: 12%;
  right: 0%;
  position: absolute;
  background-image: url(../img/tuberia.png);
  animation: moverTuberia 9s linear infinite;
}

@keyframes moverTuberia {
  to {
    right: 110%;
    transform: translateX(120%);
  }
}

/*--------------animacion de flor-------------*/
#flor {
  width: 42px;
  height: 50px;
  bottom: 12%;
  right: 0%;
  position: absolute;
  background-image: url(../img/flor.png);
  animation: moverFlor 8s linear infinite;
}

@keyframes moverFlor {
  to {
    right: 110%;
    transform: translateX(120%);
  }
}

/*--------------animacion de enemigo-------------*/
#enemigo {
  width: 42px;
  height: 36px;
  bottom: 12%;
  right: 0%;
  position: absolute;
  background-image: url(../img/enemigo.png);
  animation: moverFlor 6s linear infinite;
}

@keyframes moverFlor {
  to {
    right: 110%;
    transform: translateX(120%);
  }
}


/*-------------animacion de mario---------------*/
#mario{
  position: absolute;
  bottom: 8%;
  left: 20%;
}
/*-------------animacion de mario caminando---------------*/
.camina {
  width: 99px;
  height: 100px;
  background-image: url(../img/Mario_camina_adelante.png);
  animation: marioCamina 0.6s steps(10) infinite;
}

.caminaParaAtras {
  width: 99px;
  height: 100px;
  background-image: url(../img/Mario_camina_atras.png);
  animation: marioCamina 0.6s steps(10) infinite;
  }

/*-------------animacion de mario caminando para adelante-------------*/
@keyframes marioCamina {
  100% {
    background-position: -1594px;
  }
}

/*-------------animacion de mario saltando-------------*/
.salta {
  width: 154px;
  height: 100px;
  background-image: url(../img/Mario_salta_adelante.png);
  animation: marioSalta 0.6s steps(10) forwards;
}

/*-------------animacion de mario saltando para adelante----------------*/
@keyframes marioSalta {
  30% {
    bottom: 50%;
  }
  50% {
    bottom: 55%;
  }
  100% {
    bottom: 0%;
    background-position: -1540px;
  }
}

/*-------------boton iniciar-------------*/
.iniciar {
  font-family: sans-serif;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.iniciar:hover {background-color: #3e8e41}

.iniciar:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

/*-------------boton reiniciar-------------*/
.reiniciar {
  font-family: sans-serif;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.reiniciar:hover {background-color: #3e8e41}

.reiniciar:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.ocultar {
  opacity:0;
}

.desocultar {
  opacity:1;
}

/*------------- puntaje-------------*/
.puntos {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
  height: 70px;
  width: 200px;
  left:15%;
  align-content: left;
}

/*-------------vidas-------------*/
.vidas {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
  height: 70px;
  align-content: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cantVidas{
  width: 10px;
  color: black;
}

/*-------------cronometro-------------*/
.tiempo {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
  height: 70px;
  width: 30%;
  left:30%;
  background-color: rgb(251 221 181);
}

/*-------------cartel de explicacion-------------*/
.explicacion{
  font-family:sans-serif;
  color: black;
  background-color: whitesmoke;
  font-size: 30px;
  height: 310px;
  width: 30%;
  left:30%;
  top:20%;
  align-content: center;
}
.oculto{
  visibility: hidden;
}

.desoculto{
  visibility: visible;
}

.cartel{
  font-family: sans-serif;
  left:20%;
  height: 70px;
  width: 300px;
  position: absolute;
 
  animation: apareceCartel 6s ease .2 forwards;
}

@keyframes apareceCartel{
  0%{ opacity: 0;
    font-size: 30px;
    transform : translateX(10%)}
  50%{ opacity: 1;
    font-size: 40px;
    transform : translateX(30%)}
  60%{ opacity: 1;
    font-size: 50px;
    transform : translateX(60%)}
  70%{ opacity: 1;
    font-size: 40px;
    transform : translateX(90%)}
  100%{ opacity: 0;
    font-size: 30px;}
}